h1 {font-family:consolas;
font-size:30pt;
width:75%;
color:#222222;}

h3 {font-family:consolas;
font-size:24pt;
width:75%;
color:#222222;}

p {font-family:consolas;
font-size:18pt;
line-height:18pt;
width:75%;
color:#444444;}

ul {font-family:consolas;
font-size:8pt;
line-height:18pt;
width:75%;
color:#444444}




nav {font-family:consolas;
font-size:30pt;

background:#000000;
padding:15pt;
text-align:center;
}

a {color:#00ff00;
text-decoration:none;}

a:vistied {color:#00ffff;}

a:hover {color:#D4Af37;}

div ul {list-style-type:none;
margin: 0px 0px 0px 0px;
width: 200px;
background-color:#444444}


div li {display: block;
padding: 8px 10px 8px 18px;
text-decoration:none;
border: 1px solid #00ff00;}


div {float: left;
margin: 0px 8px 0px 0px;}

body {

background:#C5B358;

}

title {
    text-align:center
}

b {text-size:30pt;

}
