nav{
    padding:20pt;
    text-align:center;
    float:left;
    font-family:arial;
    background-color:#ff0000;
    margin:0px 1000px 0px 1000px;


}
p {
    font-family:Arial;
    font-size:20px;
    margin:0px 0px 0px 25px;
 }
