nav{
    padding:20pt;
    text-align:center;
    float:left;
    font-family:arial;
    background-color:#ff0000;
    margin:0px 500px 0px 500px;
    border-radius:25px;


}
p {
    font-family:Arial;
    font-size:20px;
    margin:0px 0px 0px 25px;
 }
 body{
     background-color:#CCCC00;
     width:70%;
     

 }
